.cursor {
    cursor: pointer;
    color: white;
}

.text-decoration-none {
    text-decoration: none;
}

.bgcolor {
    color: #0652DD;
}

.space {
    display: flex;
    justify-content: space-between;
}